* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/*
--------------
Header Section
--------------
*/
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 5rem;
    background-color: #FFFFFF;
}
.site-header__logo {
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    color: #335576;
    margin: 1rem 1rem;
}

.primary-nav {}
.primary-nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.primary-nav__item {
    padding: 1rem;
}
.primary-nav__link {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
}
.primary-nav__link--current-page {
    border-bottom: 3px solid #DB7A4E;
}

/*
--------------
Footer Section
--------------
*/

.footer-section {
    background-color: #FEFAF5;
    display: flex;
    justify-content: center;
}
.footer-subsection {
    margin: 3rem 2.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
}
.footer-subsection__title {
    color: #335576;
    font-size: large;
}
.footer-subsection__label {
    color: #DB7A4E;
    font-size: xx-small;
    font-weight: 400;
    padding: 0.5rem 0;
}
.footer-subsection__description {
    color: #335576;
    font-size: small;
}
.footer-subsection__time {
    display: flex;
    justify-content: space-between;
    width: 22.5rem;
}
.footer-subsection__time-segment {}
.footer-subsection__icon-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 8rem;
}
.footer-subsection__icon {
    height: 1.25rem;
}