/*
--------------
Banner Section
--------------
*/

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFAF5;
    padding: 3rem 5rem;
}
.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 12.5rem;
    color: #335576;
}
.banner__title {
    /* 2rem */
    font-size: xx-large;
    font-weight: bolder;
    width: 30rem;
}
.banner__description {
    font-size: 0.85rem;
    width: 32.5rem;
}
.banner__img {
    width: 27.5rem;
}

.btn {
    background-color: #DB7A4E;
    padding: 0.5rem 2rem;
    border-radius: 1rem;

    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 400;
    color: #FFFFFF;
}
.btn:hover {
    background-color: #335576;
}

/*
--------------
Recommendations Section
--------------
*/

.reco-section {
    padding: 3rem 5rem;
}
.reco-section__title {
    /* margin: 1rem 0; */
    color: #335576;
    font-size: large;
}

.card-set {
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.card {
    /* setting display:flex fixes bottom border issue,
    caused by card being slightly bigger than image,
    by getting rid of small gap between img and title */
    display: flex;
    position: relative;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(0,0,0,0.2);
    overflow: hidden;
    box-shadow: 0 4px 4px rgb(0,0,0,0.2);
}
.card__img {
    height: 25rem;
}
.card__title {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #FFFFFF;
}